{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner_slider %}
<!--Banner Slider-->
 <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="height: 570px;">
      <img src="{% static 'app/images/banner/allah2.jpg' %}"  class="d-block w-100" alt="..."> 
    </div>
    <div class="carousel-item" style="height: 570px;">
      <img src="{% static 'app/images/banner/tan.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" style="height: 570px;">
      <img src="{% static 'app/images/banner/cap2.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" style="height: 570px;">
      <img src="{% static 'app/images/banner/thor.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
<!-- End Banner Slider -->
{% endblock banner_slider %}



{% block main-content %}
<!-- 1st Product Slider -->
<div class="m-3">
 <h2>Action Movie</h2>
 <!-- Slider 1 -->
 
 <div class="owl-carousel" id="slider1">
       {% for a in action %}
          <a href="{% url 'product-detail' a.id %}" class="btn">  
             <div class="item">
                 <img src="{{a.movie_image.url}}" alt="" height="200px">
                 <span class="fw-bold">{{a.title}}</span><br>
                 <h5>{{a.production_date}}</h5>
                 <h5>Language : {{a.language}}</h5>
                 
             </div>
          </a>
       {% endfor %}
     </div>
</div> 


<!-- End 1st Product Slider -->



<!-- 2nd Product Slider -->
<div class="mx-3">
 <h2>Drama Movie</h2>
 <!-- Slider 2 -->
 <div class="owl-carousel" id="slider2">
       {% for d in drama %}
          <a href="{% url 'product-detail' d.id %}" class="btn">  
             <div class="item">
                 <img src="{{d.movie_image.url}}" alt="" height="200px">
                 <span class="fw-bold">{{d.title}}</span><br>
                 <h5>{{d.production_date}}</h5>
                 <h5>Language : {{d.language}}</h5>
                 
             </div>
          </a>
       {% endfor %}
     </div>
</div> 

<!-- End 2nd Product Slider -->
<!-- 3nd Product Slider -->
<div class="mx-3">
 <h2>Comedy Movie</h2>
 <!-- Slider 2 -->
 <div class="owl-carousel" id="slider3">
       {% for cm in comedy %}
     
          <a href="{% url 'product-detail' cm.id %}" class="btn">  
             <div class="item">
                 <img src="{{cm.movie_image.url}}" alt="" height="200px">
                 <span class="fw-bold">{{cm.title}}</span><br>
                 <h5>{{cm.production_date}}</h5>
                 <h5>Language : {{cm.language}}</h5>
                 
             </div>
          </a>
       {% endfor %}
     </div>
</div> 

<!-- End 3rd Product Slider -->
{% endblock main-content %}

